.Carousel .container {
}
.Carousel .owl-carousel .owl-item.active.center .item .card {
  transform: scale(1.5);
  opacity: 1;
}
.Carousel .owl-carousel .owl-item.active .item .card {
}
.Carousel .item {
  transform: scale(0.8);
  transition: all 200ms ease-in-out;
  margin-top: 100px;
  margin-bottom: 50px;
}
.Carousel .card {
  opacity: 0.7;
  border: unset;
  cursor: pointer;
}
.Carousel .card img {
}
.Carousel .card-img-top {
  border-radius: 4px;
}
.Carousel .card-title {
  color: #fff;
  background-color: #07a569;
  margin: 0;
  text-align: center;
}
.Carousel .card-title a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
}
.Carousel .owl-nav {
  line-height: 40px;
  font-size: 80px;
}
.Carousel .owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  background: #60003d00;
  border-radius: 0;
  border: none;
  padding: 5px !important;
  margin: 0;
}
.Carousel .owl-nav .owl-prev {
  position: absolute;
  left: -50px;
  top: 50%;
}
.Carousel .owl-nav .owl-next {
  position: absolute;
  right: -50px;
  top: 50%;
}
