.Cats button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  transition: all 200ms ease-in-out;
}
.Cats button:hover {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #282c34;
}
.Cats .Title {
  color: orangered;
}
