.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.Footer .bar {
  display: flex;
  justify-content: space-evenly;
}
.Footer button {
  border-radius: 40px 40px 0 0;
  width: 60%;
  border: none;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.2);
}
