.App {
  text-align: center;
  font-family: "Jost", sans-serif;
}
.App .Link {
  text-decoration: none;
  color: #fff;
}
.App .Title {
  font-size: 2em;
  position: relative;
  bottom: -25px;
  z-index: 3;
}
.App .container {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  margin-top: 0;
  padding: 5vh 10vw;
  border-radius: 4px;
}
.App h1 {
  margin: 0;
  padding: 0;
}
.App .Hero,
.About,
.Projects,
.Cats,
.Contact {
  background-color: #28342b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App .Hero {
  background-color: #282c34;
}
.App .About {
  background-color: #302834;
}
.App .Projects {
  overflow: hidden;
}
.App .Cats {
  background-color: #342828;
}
.App .Contact {
  background-color: #343228;
}
