.App {
  text-align: center;
  font-family: "Jost", sans-serif;
}
.App .Link {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}
.App#light .Link {
  color: rgba(27, 25, 25, 0.87);
  font-weight: 900;
}
.App h1 {
  position: relative;
  bottom: -15px;
  z-index: 3;
  margin: 0;
  padding: 0;
}
.App .Title {
  font-size: 1.6em;
  position: relative;
  bottom: -10px;
  font-weight: 700;
  opacity: unset;
}
.App#light .Hero .Title {
  color: rgb(0, 100, 199);
}
.App#light .About .Title {
  color: rgb(142, 4, 163);
}
.App#light .Projects .Title {
  color: rgb(0, 174, 93);
}
.App#light .Cats .Title {
  color: orangered;
}
.App#light .Contact .Title {
  color: rgb(72, 189, 0);
}
.App .container {
  margin-top: 0;
  padding: 5vh 10vw;
  border-radius: 4px;
}
.App#dark .container {
  background-color: rgba(0, 0, 0, 0.5);
}
.App#light .Hero .container {
  background-color: rgba(113, 173, 233, 0.41);
}
.App#light .About .container {
  background-color: rgba(178, 127, 186, 0.411);
}
.App#light .Projects .container {
  background-color: rgba(97, 153, 131, 0.353);
}
.App#light .Cats .container {
  background-color: rgba(204, 143, 119, 0.405);
}
.App#light .Contact .container {
  background-color: rgba(116, 166, 84, 0.416);
}
.App .Hero,
.About,
.Projects,
.Cats,
.Contact {
  background-color: #28342b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App#light .Hero,
.App#light .About,
.App#light .Projects,
.App#light .Cats,
.App#light .Contact {
  background-color: rgb(244, 238, 228);
  color: rgba(41, 38, 38, 0.915);
}
.App#dark .Hero {
  background-color: #282c34;
}

.App#dark .About {
  background-color: #302834;
}
.App#dark .Projects {
  overflow: hidden;
}
.App#dark .Cats {
  background-color: #342828;
}
.App#dark .Contact {
  background-color: #343228;
}
.App .Load {
  margin: 0 auto;
}
